{% extends 'base_authenticated.html' %}

{% block title %}About{% endblock %}

{% block pagecontent %}
<div class="smallcontainer">
	<h1>About</h1>
	<p>This website was created by Lawrence Brown (lgsb2), JCR Internet Officer 2019-20.</p>
	<p>The room selection algorithm was created by Matt Moore (mcm85). More information about this system can be found in Matt's documentation available <a target="_blank" href="https://www.notion.so/Downing-JCR-Room-Ballot-2020-cbee08722bb94d9aa7824d84087276e5">here</a>.</p>
	<p>If you have any questions or queries related to the website or the ballot in general, please feel free to contact the JCR Internet Officer at internet@jcr.dow.cam.ac.uk.
</div>
{% endblock %}
