{% extends 'base_authenticated.html' %}

{% block title %}Dashboard{% endblock %}

{% block pagecontent %}

<div class="jumbotron dashboard">
	<h1 class="display-4">Dashboard</h1>

{% if syndicate.complete and survey_data.has_filled == 1 %}
<div class="alert alert-success" role="alert">
	Your syndicate is complete and you have filled in the room preferences survey. Thanks! We'll be in touch soon with the details of your room.
</div>
{% endif %}
	<div class="row">
		<div class="col-md-6"><div class="dashboard-item">
			<h2>Your syndicate</h2>

			{% if not syndicate %}

			<p>You have not formed a syndicate yet.</p>

			{% if g.current_time > config.CLOSE_SYNDICATES %}
			<p>The deadline for creation of new syndicates has passed.</p>
			{% else %}
			<a class="btn btn-outline-secondary" href="/syndicate">Create a syndicate &raquo;</a>
			{% endif %}

			{% if invites|length > 0 %}
			<p>You have been invited to join a syndicate.</p>
			<a class="btn btn-outline-primary" href="/invite">View invitation</a>
			{% endif %}

			{% else %}

			<p>You have {% if g.crsid == syndicate.owner %}formed{% else %}joined{% endif %} a syndicate. The syndicate currently has <strong>{{ syndicate.others|length + 1 }}</strong> member(s){% if syndicate.invited|length > 0 %}, and a further <strong>{{ syndicate.invited|length }}</strong> people have been invited to join.{% else %}.{% endif %}</p>

			{% if syndicate.complete %}
			<p><strong>Your syndicate is complete; you're good to go.</strong></p>
			{% endif %}

			<a class="btn btn-outline-secondary" href="/syndicate">View syndicate &raquo;</a>

			{% endif %}
		</div></div>

		<div class="col-md-6"><div class="dashboard-item">
			<h2>Room survey</h2>
			{% if survey_data.has_filled == 1 %}
			<p>You have already filled in the room preferences survey. Thanks!</p>
			{% else %}
			<p>Please fill in a short survey describing your preferences in a room. This allows us to match you with the best room possible.</p>
			<a class="btn btn-outline-secondary" href="/survey">Fill in survey &raquo;</a>
			{% endif %}
		</div></div>
	</div>
	
	<div class="row">
		<div class="col-md-6"><div class="dashboard-item">
			<h2>Info &amp; FAQ</h2>
			<p>Information about the ballot system (and why we have to do this in the first place) can be found on the <a target="_blank" href="https://www.notion.so/Downing-JCR-Room-Ballot-2020-cbee08722bb94d9aa7824d84087276e5">FAQ page</a>.</p>
		</div></div>
		<div class="col-md-6"><div class="dashboard-item">
			<h2>Help</h2>
			<p>If you encounter any issues using this website or have questions about the ballot in general, please feel free to contact the JCR Internet Officer. (<a href="mailto:internet@jcr.dow.cam.ac.uk">internet@jcr.dow.cam.ac.uk</a>)</p>
		</div></div>
	</div>
</div>
{% endblock %}
