{% extends 'base_authenticated.html' %}

{% block title %}Your syndicate{% endblock %}

{% block pagecontent %}

{% if not syndicate and g.current_time <= config.CLOSE_SYNDICATES %}

<div class="smallcontainer" id="content">
	<h1>Create a syndicate</h1>
	<p>This form allows you to <strong>create a new syndicate</strong>. If you want to join another syndicate that somebody has already invited you to, then you should return to the <a href="/dashboard">dashboard</a>.</p>
	{% if g.user_year == 2 %}
	<div class="alert alert-warning" role="alert">It is unlikely, but possible, that we will have to break up syndicates of 7 or 8 if there is no COVID-safe way of fitting them in. In the event that this happens, we will contact all the members of your syndicate to discuss the situation. <i><a target="_blank" href="https://www.notion.so/downingballot/Forming-syndicates-f2f9a8c0925f416a8289305c86c0e380#50db4f7a6a4a4f2d90e621f0aad6a53d">More info</a></i></div>
	{% endif %}
	<div class="alert alert-warning" role="alert">You should have a discussion with your syndicate and decide whether you would like long- or short-lease rooms, and whether you would like to live in a house or a staircase. If your preference forms don't match up, we will contact you and let you know, in case you have made a mistake. <i><a target="_blank" href="https://www.notion.so/downingballot/Forming-syndicates-f2f9a8c0925f416a8289305c86c0e380#17708acc94d1450a96d3da9fed896ab1">More info</a></i></div>

	<noscript>This form requires JavaScript to be enabled in your browser, sorry. All JS on this page is available under a free license. If you really do not want to enable JavaScript, please <a href="/about">contact the Internet Officer</a> and they will create your syndicate manually.</noscript>

	<label for="crsid">Person to invite:</label>
	<input type="text" class="form-control" id="crsid" placeholder="Enter CRSid..." />
	<div class="invalid-feedback" id="invalid-feedback"></div>
	<button class="btn btn-primary" onclick="addUser()">Add</button>
	<button class="btn btn-danger" onclick="clearUsers()">Clear list</button>
	<br /><br />
	<p><strong>Syndicate members:</strong> <span id="userlist"></span></p>
	<button class="btn btn-success" onclick="showFinalCheck()">Create syndicate!</button>
</div>

<input type="hidden" id="mycrsid" value="{{ g.crsid }}" />
<input type="hidden" id="myname" value="{{ g.fullname }}" />

<form action="/syndicate/create" method="POST" id="syndicate-form">
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	<input type="hidden" id="invitees" name="invitees-json" />
	<input type="hidden" id="want-to-stay" name="want-to-stay" />
</form>

<script type="text/javascript" src="{{ url_for("static", filename="syndicate.js") }}"></script>

{% elif not syndicate %}

<div class="smallcontainer">
	<p>Sorry, but the deadline for the creation of new syndicates has now passed.</p>
</div>

{% else %}

<div class="smallcontainer">
	<h1>Your syndicate</h1>
	<p>Your syndicate contains the following members:</p>
	<ul>
		<li>{{ get_user(syndicate.owner) }} (founder)</li>
		{% for user in syndicate.others %}
		<li>{{ get_user(user.crsid) }}</li>
		{% endfor %}
		{% for invite in syndicate.invited %}
		<li>{{ get_user(invite.recipient) }} (invited, but has not yet accepted their invitation)</li>
		{% endfor %}
	</ul>
	<p>If these arrangements do not seem correct, please contact the JCR Internet Officer (internet@jcr.dow.cam.ac.uk) as soon as possible!</p>
	<a href="/dashboard" class="btn btn-secondary">&laquo; Back to dashboard</a>
</div>

{% endif %}

{% endblock %}
