{% extends 'base_authenticated.html' %}

{% block title %}Your syndicate{% endblock %}

{% block pagecontent %}

{% if not syndicate %}

<div class="smallcontainer" id="content">
	<h1>Create a syndicate</h1>
	<p>This form allows you to <strong>create a new syndicate</strong>. If you want to join another syndicate that somebody has already invited you to, then you should return to the <a href="/dashboard">dashboard</a>.</p>
	<div class="alert alert-warning" role="alert">If your syndicate contains students with a large range of price preferences, the maximum price guarantees <em>may</em> be increased, and it is likely that the students wanting more expensive rooms won't receive all their preferred facilities. We recommend having a conversation with your syndicate about what rooms you can afford. <i><a href="https://www.notion.so/Pricing-and-financial-support-d9ac97b9db7b4fc4a34bbb5fb9b17b52#169dc451de4d4a69a7d08e24e5279fb1">More info</a></i></div>
	<div class="alert alert-warning" role="alert">If your or one of your syndicate's out the ballot requirements conflict with your or one of your syndicate's price guarantees, we will revoke the price guarantee. <i><a href="https://www.notion.so/Out-the-ballot-students-d35f2bb59af74d75a4ee34e396181925#6d44ebe941eb4361941e482952dce799">More info</a></i></div>

	<noscript>This form requires JavaScript to be enabled in your browser, sorry. All JS code is under a free license. If you really do not want to enable JavaScript, please <a href="/about">contact the Internet Officer</a> and they will create your syndicate manually.</noscript>

	<label for="crsid">Person to invite:</label>
	<input type="text" class="form-control" id="crsid" placeholder="Enter CRSid..." />
	<div class="invalid-feedback" id="invalid-feedback"></div>
	<button class="btn btn-primary" onclick="addUser()">Add</button>
	<button class="btn btn-danger" onclick="clearUsers()">Clear list</button>
	<br /><br />
	<p><strong>Syndicate members:</strong> <span id="userlist"></span></p>
	<button class="btn btn-success" onclick="showFinalCheck()">Create syndicate!</button>
</div>

<input type="hidden" id="mycrsid" value="{{ g.crsid }}" />

<form action="/syndicate/create" method="POST" id="syndicate-form">
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	<input type="hidden" id="invitees" name="invitees-json" />
</form>

<script type="text/javascript" src="{{ url_for("static", filename="syndicate.js") }}"></script>

{% else %}

<div class="smallcontainer">
	<h1>Your syndicate</h1>
	<p>Your syndicate contains the following members:</p>
	<ul>
		<li>{{ syndicate.owner }} (founder)</li>
		{% for user in syndicate.others %}
		<li>{{ user.crsid }}</li>
		{% endfor %}
		{% for invite in syndicate.invited %}
		<li>{{ invite.recipient }} (invited, but has not yet accepted their invitation)</li>
		{% endfor %}
	</ul>
	<p>If these arrangements do not seem correct, please contact the JCR Internet Officer (internet@jcr.dow.cam.ac.uk) as soon as possible!</p>
	<a href="/dashboard" class="btn btn-secondary">&laquo; Back to dashboard</a>
</div>

{% endif %}

{% endblock %}
